apiVersion: apps/v1
kind: Deployment
metadata:
  name: secops-canada
  namespace: xperts
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: secops-canada
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: secops-canada
    spec:
      imagePullSecrets:
        - name: ghcr-pull-secret
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: secops-canada
                topologyKey: "kubernetes.io/hostname"
      containers:
        - name: nginx
          image: ghcr.io/amerintlxperts/secops-2026-canada:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "32Mi"
              cpu: "25m"
            limits:
              memory: "64Mi"
              cpu: "100m"
          readinessProbe:
            httpGet:
              path: /healthz/
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz/
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 30
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d/
            - name: htpasswd-volume
              mountPath: /etc/nginx/.htpasswd
              subPath: htpasswd
      volumes:
        - name: nginx-config
          configMap:
            name: secops-nginx-config
        - name: htpasswd-volume
          secret:
            secretName: xperts-htpasswd
