apiVersion: v1
kind: Service
metadata:
  name: enterprise-protection-canada
  namespace: xperts
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: enterprise-protection-canada
