apiVersion: v1
kind: Service
metadata:
  name: landing-page
  namespace: xperts
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: landing-page
