apiVersion: apps/v1
kind: Deployment
metadata:
  name: landing-page-canada
  namespace: xperts
spec:
  replicas: 2
  selector:
    matchLabels:
      app: landing-page-canada
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: landing-page-canada
    spec:
      imagePullSecrets:
        - name: ghcr-pull-secret
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: landing-page-canada
                topologyKey: "kubernetes.io/hostname"
      containers:
        - name: nginx
          image: ghcr.io/amerintlxperts/landing-page-2026-canada:7f061b2
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "32Mi"
              cpu: "25m"
            limits:
              memory: "64Mi"
              cpu: "100m"
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 30
